
:root {
  --md-dark-color: #1A1A2E;
  --dark-color: #16213E;
  --light-dark-color: #0f3460;
  --red-color: #e94560;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}
html, body {
  height: 100%;
}
.box {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.box {
  min-height: 100vh;
  background: var(--dark-color);
}

.box .container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

.sch-con {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  background: var(--md-dark-color);
}

.logo {
  padding: 1rem 0;
  border-bottom: 1px solid var(--light-dark-color);
}

.logo p {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.logo p span {
  color: var(--red-color);
}

.sch-ele {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: relative;
}

.sch-ele h3 {
  align-self: center;
  margin: 0 1rem 1.5rem 0;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}

.sch-ele .form-control {
  width: 350px;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  outline: none;
  color: var(--light-dark-color);
  background: #fff;
  box-shadow: none;
}

.list {
  position: absolute;
  top: 100%;
  right: 0;
  max-height: 500px;
  overflow-y: auto;
  z-index: 10;
}

.list .item {
  padding: 0.5rem;
  width: calc(350px - 8px);
  background: var(--light-dark-color);
  border-bottom: 1px solid var(--dark-color);
  color: #fff;
  cursor: pointer;
}

.list .item:hover {
  background: #1f1f1f;
}

.item {
  display: flex;
  align-items: center;
}

.search-item-thumbnail img {
  width: 40px;
  margin-right: 1rem;
}

.search-item-info h3 {
  font-size: 1rem;
  font-weight: 600;
}

.search-item-info p {
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0.6;
  margin-top: 0.5rem;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: none;
}

.list::-webkit-scrollbar-thumb {
  background: var(--red-color);
  border-radius: 10px;
}

.hide-search-list {
  display: none;
}

.result-con {
  padding: 3rem 0;
}

.movie-poster img {
  max-width: 300px;
  margin: 0 auto;
  border: 4px solid #fff;
}

.movie-info {
  text-align: center;
  padding-top: 3rem;
  color: #fff;
}

.movie-title {
  font-size: 2rem;
  color: var(--red-color);
}

.movie-misc-info {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 1rem;
}

.movie-info .year {
  font-weight: 500;
}

.movie-info .rated {
  margin: 0 0.4rem;
  padding: 0.4rem;
  background: var(--red-color);
  border-radius: 3px;
  font-weight: 600;
}

.movie-info .released {
  font-size: 0.9rem;
  opacity: 0.9;
}

.movie-info .writer {
  margin: 1rem 0;
  padding: 0.5rem;
}

.movie-info .genre {
  display: inline-block;
  padding: 0.5rem;
  background: var(--light-dark-color);
  border-radius: 3px;
}

.movie-info .plot {
  max-width: 400px;
  margin: 1rem auto;
}

.movie-info .language {
  color: var(--red-color);
  font-style: italic;
}

.movie-info .awards {
  font-size: 0.9rem;
  font-weight: 300;
}

.movie-info .awards i {
  margin: 1rem 0.7rem 0 0;
  color: var(--red-color);
}
footer{
    padding: 2rem; 
    text-align: center; 
    background: var(--md-dark-color);
}

@media (max-width: 450px) {
  .logo p {
    font-size: 1.4rem;
  }
  .sch-ele .form-control {
    width: 90%;
    padding: 0.5rem 1rem;
    margin: 0 auto;
  }
  .sch-ele h3 {
    font-size: 1.4rem;
  }
  .list {
    width: 90%;
    right: 50%;
    transform: translateX(50%);
  }
  .list .item {
    width: 100%;
  }
  .movie-misc-info {
    flex-direction: column;
  }
  .movie-misc-info li:nth-child(2) {
    margin: 0.8rem 0;
  }
}

@media (min-width: 800px) {
  .sch-ele {
    flex-direction: row;
  }
  .sch-ele h3 {
    margin-bottom: 0;
  }
  .result {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .movie-info {
    text-align: left;
    padding-top: 0;
  }
  .movie-info .movie-misc-info {
    justify-content: flex-start;
    padding-left: 0;
  }
  .movie-info .plot,
  .movie-info .writer {
    margin-left: 0;
    padding-left: 0;
  }
}

